/mainapp/migrations/
myproject/__pycache__/urls.cpython-39.pyc
mainapp/__pycache__/__init__.cpython-39.pyc
mainapp/__pycache__/admin.cpython-39.pyc
mainapp/__pycache__/apps.cpython-39.pyc
mainapp/__pycache__/models.cpython-39.pyc
mainapp/__pycache__/urls.cpython-39.pyc
mainapp/__pycache__/views.cpython-39.pyc
myproject/__pycache__/__init__.cpython-39.pyc
myproject/__pycache__/settings.cpython-39.pyc
