<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <link href="https://fonts.googleapis.com/css2?family=Lato:wght@100&display=swap" rel="stylesheet">
  <link href="http://fonts.cdnfonts.com/css/didot" rel="stylesheet">
  <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
    integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
  <script src="../script/vue.js"></script>
  <link rel="stylesheet" href="../style/accessories_style.css">
  <title>l'éncore Acessories</title>
</head>

<body>
  <div id="header_container">
    <div id="header" onmouseover="changeHeaderColor('rgb(27, 27, 27)')" onmouseout="changeHeaderColor('transparent')">
      <br>
      <div id="brand_name">
        <h2>l'éncore</h2>
        <div style="text-align: right;">
          <button class="btn btn-outline-light button_main" onclick="location.href='cart.html';">
            <i class="fas fa-shopping-basket"></i>
          </button>
          <button class="btn btn-outline-light button_main" onclick="location.href='registration.html';">
            <i class="fas fa-sign-in-alt"></i>
          </button>
          <button class="btn btn-outline-light button_main" onclick="location.href='contacts.html';">
            <i class="fas fa-info-circle"></i>
          </button>
          <button class="btn btn-outline-light button_main" onclick="location.href='tables.html';">
            <i class="fas fa-tshirt"></i>
          </button>
        </div>
      </div>

      <div id="header_buttons">
        <input type="button" value="Main" class="btn btn-outline-light button_main"
          onclick="location.href='main_page.html';">
        <input type="button" value="Men" class="btn btn-outline-light button_main" onclick="location.href='man.html';">
        <input type="button" value="Women" class="btn btn-outline-light button_main"
          onclick="location.href='woman_page.html';">
        <input type="button" value="Kids" class="btn btn-outline-light button_main"
          onclick="location.href='kids_page.html';">
        <input type="button" value="Sneakers" class="btn btn-outline-light button_main"
          onclick="location.href='sneakers.html';">
        <input type="button" value="Accessories" class="btn btn-outline-light button_main"
          onclick="location.href='acessories_page.html';">
      </div>
    </div>
  </div>
  <h1 style="text-align: center; margin-top: 50px;">ACESSORIES</h1>
  <div class="kurt">
    <div class="tsort">
      <img onmouseout="change_img0()" onmousemove="change_rev0()" src="../img/acessories/louis-vuitton-1bag.png" alt="">
      <h4 style="color: #330867;">BRIEFCASE VOYAGE PM</h4>
      <h5 style="color: #330867;"> 744.000 KZT</h5>
    </div>
    <div class="tsort">
      <img onmouseout="change_img1()" onmousemove="change_rev1()" src="../img/acessories/louis-vuitton-2bag.png" alt="">
      <h4 style="color: #330867;">BRIEFCASE SLIM</h4>
      <h5 style="color: #330867;"> 895.000 KZT</h5>
    </div>
    <div class="tsort">
      <img onmouseout="change_img2()" onmousemove="change_rev2()" src="../img/acessories/louis-vuitton-3bag.png" alt="">
      <h4 style="color: #330867;">BRIEFCASE SIRIUS</h4>
      <h5 style="color: #330867;"> 987.000 KZT</h5>
    </div>
    <div class="tsort">
      <img onmouseout="change_img3()" onmousemove="change_rev3()" src="../img/acessories/louis-vuitton-4-womanbag.png"
        alt="">
      <h4 style="color: #330867;">WOMEN'S BAG RICH PM</h4>
      <h5 style="color: #330867;"> 642.000 KZT</h5>
    </div>
    <div class="tsort">
      <img onmouseout="change_img4()" onmousemove="change_rev4()" src="../img/acessories/louis-vuitton-5-womanbag.png"
        alt="">
      <h4 style="color: #330867;">WOMEN'S BAG GOLDEN</h4>
      <h5 style="color: #330867;">861.000 KZT</h5>
    </div>
    <div class="tsort">
      <img onmouseout="change_img5()" onmousemove="change_rev5()" src="../img/acessories/louis-vuitton-6-womanbag.png"
        alt="">
      <h4 style="color: #330867;">WOMEN'S BAG POINT 9</h4>
      <h5 style="color: #330867;">990.000 KZT</h5>
    </div>
    <div class="tsort">
      <img onmouseout="change_img6()" onmousemove="change_rev6()" src="../img/acessories/louis-vuitton-watch-man1.png"
        alt="">
      <h4 style="color: #330867;">MAN'S WATCH COBALT</h4>
      <h5 style="color: #330867;">920.000 KZT</h5>
    </div>
    <div class="tsort">
      <img onmouseout="change_img7()" onmousemove="change_rev7()" src="../img/acessories/louis-vuitton-watch-man2.png"
        alt="">
      <h4 style="color: #330867;">MAN'S WATCH KEEO</h4>
      <h5 style="color: #330867;">756.000 KZT</h5>
    </div>
  </div>

  <div id="bottom_part">
    <vue-footer-contacts></vue-footer-contacts>
    <vue-footer-adress></vue-footer-adress>
    <vue-footer-social></vue-footer-social>
    <vue-footer-news></vue-footer-news>
  </div>
  <script src="../script/Footer.js"></script>
  <script src="../script/accessories_script.js"></script>
</body>

</html>