<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
        integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
    <link href="http://fonts.cdnfonts.com/css/didot" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@100&display=swap" rel="stylesheet">
    <script src="../script/vue.js"></script>
    <link rel="stylesheet" href="./static/style/cart_style.css">
    <title>Basket</title>
</head>

<body>
    <div id="header_container">
        <div id="header" onmouseover="changeHeaderColor('rgb(27, 27, 27)')"
            onmouseout="changeHeaderColor('transparent')">
            <br>
            <div id="brand_name">
                <h2>l'éncore</h2>
                <div style="text-align: right;">
                    <button class="btn btn-outline-light button_main" onclick="location.href='cart.html';">
                        <i class="fas fa-shopping-basket"></i>
                    </button>
                    <button class="btn btn-outline-light button_main" onclick="location.href='registration.html';">
                        <i class="fas fa-sign-in-alt"></i>
                    </button>
                    <button class="btn btn-outline-light button_main" onclick="location.href='contacts.html';">
                        <i class="fas fa-info-circle"></i>
                    </button>
                    <button class="btn btn-outline-light button_main" onclick="location.href='tables.html';">
                        <i class="fas fa-tshirt"></i>
                    </button>
                </div>
            </div>

            <div id="header_buttons">
                <input type="button" value="Main" class="btn btn-outline-light button_main"
                    onclick="location.href='main_page.html';">
                <input type="button" value="Men" class="btn btn-outline-light button_main"
                    onclick="location.href='man.html';">
                <input type="button" value="Women" class="btn btn-outline-light button_main"
                    onclick="location.href='woman_page.html';">
                <input type="button" value="Kids" class="btn btn-outline-light button_main"
                    onclick="location.href='kids_page.html';">
                <input type="button" value="Sneakers" class="btn btn-outline-light button_main"
                    onclick="location.href='sneakers.html';">
                <input type="button" value="Accessories" class="btn btn-outline-light button_main"
                    onclick="location.href='acessories_page.html';">
            </div>
        </div>
    </div>

    <div id="center_part">
        <div class="basket_element" id="item_first">
            <div class="basket_img">
                <img src="./static/img/acessories/louis-vuitton-2bag.jpg" alt="Bag">
            </div>

            <div class="basket_text">
                <p>BRIEFCASE SLIM LV BAG</p>
            </div>

            <div class="basket_price">
                <p id="price_value_first">845000</p>
                <p>KZT</p>
            </div>

            <div class="counter">
                <input type="number" name="Quantity" id="counter_value_first" value="1" min="1" onchange="changeTotal('First', document.getElementById('counter_value_first').value)">
            </div>

            <div class="total_item">
                <p>Total:&nbsp;</p>
                <p id="totalFirst" class="totalClass">845000</p>
                <p>KZT</p>
            </div>

            <div class="cross">
                <i class="fas fa-times" onclick="hideItems('first')"></i>
            </div>
        </div>

        <div class="basket_element" id="item_second">
            <div class="basket_img">
                <img src="./static/img/men/finn_flare2.jpg" alt="Bag">
            </div>

            <div class="basket_text">
                <p>FINN FLAIRE WINTER JACKET</p>
            </div>

            <div class="basket_price">
                <p id="price_value_second">146173</p>
                <p>KZT</p>
            </div>

            <div class="counter">
                <input type="number" name="Quantity" id="counter_value_second" value="1" min="1" onchange="changeTotal('Second', document.getElementById('counter_value_second').value)">
            </div>

            <div class="total_item">
                <p>Total:&nbsp;</p>
                <p id="totalSecond" class="totalClass">146173</p>
                <p>KZT</p>
            </div>

            <div class="cross">
                <i class="fas fa-times" onclick="hideItems('second')"></i>
            </div>
        </div>

        <div class="basket_element" id="item_third">
            <div class="basket_img">
                <img src="../static/img/woman/Woman8.jpg" alt="Bag">
            </div>

            <div class="basket_text">
                <p>DRESS FLASH LV</p>
            </div>

            <div class="basket_price">
                <p id="price_value_third">856000</p>
                <p>KZT</p>
            </div>

            <div class="counter">
                <input type="number" name="Quantity" id="counter_value_third" value="1" min="1" onchange="changeTotal('Third')">
            </div>

            <div class="total_item">
                <p>Total:&nbsp;</p>
                <p id="totalThird" class="totalClass">856000</p>
                <p>KZT</p>
            </div>

            <div class="cross">
                <i class="fas fa-times" onclick="hideItems('third')"></i>
            </div>
        </div>

        <div class="basket_element" id="item_fourth">
            <div class="basket_img">
                <img src="../static/img/kids/kids6.jpg" alt="Bag">
            </div>

            <div class="basket_text">
                <p>KIDS SHIRT GUCCI</p>
            </div>

            <div class="basket_price">
                <p id="price_value_fourth">176000</p>
                <p>KZT</p>
            </div>

            <div class="counter">
                <input type="number" name="Quantity" id="counter_value_fourth" value="1" min="1" onchange="changeTotal('Fourth')">
            </div>

            <div class="total_item">
                <p>Total:&nbsp;</p>
                <p id="totalFourth" class="totalClass">176000</p>
                <p>KZT</p>
            </div>

            <div class="cross">
                <i class="fas fa-times" onclick="hideItems('fourth')"></i>
            </div>
        </div>

        <div class="basket_element" id="item_fifth">
            <div class="basket_img">
                <img src="../static/img/sneakers/Man3.jpg" alt="Bag">
            </div>

            <div class="basket_text">
                <p>SNEAKERS OUTLINE SK</p>
            </div>

            <div class="basket_price">
                <p id="price_value_fifth">164000</p>
                <p>KZT</p>
            </div>

            <div class="counter">
                <input type="number" name="Quantity" id="counter_value_fifth" value="1" min="1" onchange="changeTotal('Fifth')">
            </div>

            <div class="total_item">
                <p>Total:&nbsp;</p>
                <p id="totalFifth" class="totalClass">164000</p>
                <p>KZT</p>
            </div>

            <div class="cross">
                <i class="fas fa-times" onclick="hideItems('fifth')"></i>
            </div>
        </div>
        <div id="total_overall">
            <p style="margin-right: 2%; margin-left: auto;">Total:</p>
            <p style="margin-right: 1%;" id="price">2187173</p>
            <p>KZT</p>
        </div>
        <div style="text-align: center; margin-bottom: 3%;">
            <button class="btn btn-outline-dark" id="proceed">Proceed to payment</button>
        </div>

        <div class="hidden">
            <div style="margin-bottom: 1%;">
                <p>Choose date of shipping:</p>
                <input type="date" id="shippingDate">
            </div>

            <div style="margin-bottom: 1%; text-align: center;">
                <p>Method of delivery:</p>
                <input type="radio" id="no_contact" name="group" value="Courier">
                <label for="no_contact" class="radio_type">Courier delivery</label>
                <br>
                <input type="radio" id="pick" name="group" value="Pick up">
                <label for="pick" class="radio_type">Pick up from post</label>
                <br>
            </div>

            <div>
                <p>Insert your address:</p>
                <input type="text" placeholder="Address">
            </div>

            <div style="margin-top: 1%;">
                <input type="checkbox" name="Terms" id="terms">
                <label for="terms">Agree to the terms and conditions</label>
            </div>

            <div style="margin-top: 1%;">
                <button>Order</button>
            </div>
        </div>
    </div>

    <div id="bottom_part">
        <vue-footer-contacts></vue-footer-contacts>
        <vue-footer-adress></vue-footer-adress>
        <vue-footer-social></vue-footer-social>
        <vue-footer-news></vue-footer-news>
    </div>
    <script src="../script/Footer.js"></script>
    <script src="../script/cart_script.js"></script>
</body>

</html>