{% extends 'template.html' %}
{% load static %}
{% block title %}l'encore {{ request.path|slice:"1:" }}{% endblock %}
{% block content %}
    <link rel="stylesheet" href="./static/style/cart_style.css">
    <div id="center_part">
        {% for item in items %}
            <div class="basket_element" id="item_first">
                <div class="basket_img">
                    <img src="{{ item.image|slice:'10:' }}" alt="Bag">
                </div>

                <div class="basket_text">
                    <p>{{ item.name }}</p>
                </div>

                <div class="basket_price">
                    <p id="price_value_first">{{ item.price }}</p>
                    <p>KZT</p>
                </div>

                <div class="counter">
                    <input type="number" name="Quantity" id="counter_value_first" value="1" min="1"
                           onchange="changeTotal('First', document.getElementById('counter_value_first').value)">
                </div>

                <div class="total_item">
                    <p>Total:&nbsp;</p>
                    <p id="totalFirst" class="totalClass">845000</p>
                    <p>KZT</p>
                </div>

                <div class="cross">
                    <i class="fas fa-times" onclick="hideItems('first')"></i>
                </div>
            </div>
        {% endfor %}

        <div id="total_overall">
            <p style="margin-right: 2%; margin-left: auto;">Total:</p>
            <p style="margin-right: 1%;" id="price">2187173</p>
            <p>KZT</p>
        </div>
        <div style="text-align: center; margin-bottom: 3%;">
            <button class="btn btn-outline-dark" id="proceed">Proceed to payment</button>
        </div>

        <div class="hidden">
            <div style="margin-bottom: 1%;">
                <p>Choose date of shipping:</p>
                <input type="date" id="shippingDate">
            </div>

            <div style="margin-bottom: 1%; text-align: center;">
                <p>Method of delivery:</p>
                <input type="radio" id="no_contact" name="group" value="Courier">
                <label for="no_contact" class="radio_type">Courier delivery</label>
                <br>
                <input type="radio" id="pick" name="group" value="Pick up">
                <label for="pick" class="radio_type">Pick up from post</label>
                <br>
            </div>

            <div>
                <p>Insert your address:</p>
                <input type="text" placeholder="Address">
            </div>

            <div style="margin-top: 1%;">
                <input type="checkbox" name="Terms" id="terms">
                <label for="terms">Agree to the terms and conditions</label>
            </div>

            <div style="margin-top: 1%;">
                <button>Order</button>
            </div>
        </div>
    </div>
{% endblock %}
