{% extends 'authorization_template.html' %}
{% load static %}
{% block content %}
    <h5>Login</h5>

    {% for message in messages %}
        <h3 style="color: red">{{ message }}</h3>
    {% endfor %}

    <p>Don't have an account? <a href="http://127.0.0.1:8000/registration">Creat Your Account</a> it takes less than a
        minute</p>
    <form class="inputs" action='login' method="POST">
        {% csrf_token %}
        <input type="text" placeholder="Username" name="username">
        <br>
        <input type="password" placeholder="Password" name="password">

        <br><br>

        <div class="remember-me--forget-password">

            <div style="width: fit-content">
                <input type="checkbox" name="item"/>
                <span>Remember me</span>
            </div>
            <p>Forgot password?</p>
        </div>

        <br>
        <button>Login</button>
    </form>
{% endblock %}