{% extends 'authorization_template.html' %}
{% load static %}
{% block content %}
    <h5>Login</h5>
    <p>Don't have an account? <a href="http://127.0.0.1:8000/registration">Creat Your Account</a> it takes less than a minute</p>
    <div class="inputs">
        <input type="text" placeholder="User name">
        <br>
        <input type="password" placeholder="Password">
    </div>

    <br><br>

    <div class="remember-me--forget-password">
        <label>
            <input type="checkbox" name="item"/>
            <span>Remember me</span>
        </label>
        <p>Forgot password?</p>
    </div>

    <br>
    <button>Login</button>
{% endblock %}