{% extends 'template.html' %}
{% load static %}
{% block title %}l'encore{% endblock %}
{% block content %}
    <link rel="stylesheet" href="{% static 'style/main_style.css' %}">
    <link rel="stylesheet" href="{% static 'style/search-filter.css' %}">
    <link href="http://fonts.cdnfonts.com/css/simple-brush-script" rel="stylesheet">

    <div id="main_part">
        <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner" style="height: 100%;">
                <div class="carousel-item active" style="text-align: center;">
                    <img class="center-block w-10"
                         src="{% static 'img/main/ophidia.jpg' %}"
                         style="max-width: 30%; max-height: 30%; object-fit: contain;">
                    <h1 style="margin-top: 2%;">Ophidia small tote bag</h1>
                    <br>
                    <input type="button" value="SHOP NOW" class="btn btn-dark button_main" style="color: white">
                </div>
                <div class="carousel-item" style="text-align: center;">
                    <img class="center-block w-10" src="{% static 'img/main/lv_wallet.png' %}"
                         style="max-width:30%; max-height: 30%; object-fit: contain;">
                    <h1 style="margin-top: 2%;">LV wallet</h1>
                    <br>
                    <input type="button" value="SHOP NOW" class="btn btn-dark button_main" style="color: white">
                </div>
                <div class="carousel-item" style="text-align: center;">
                    <img class="center-block w-10" src="{% static 'img/main/lv_perfum.png' %}"
                         style="max-width:30%; max-height: 30%; object-fit: contain;">
                    <h1 style="margin-top: 2%;">L'IMMENSITÉ perfume</h1>
                    <br>
                    <input type="button" value="SHOP NOW" class="btn btn-dark button_main" style="color: white">
                </div>
            </div>
            <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="false" style="filter: invert(100%);"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="false" style="filter: invert(100%);"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>

        <div>
            <center>
                <h1 style="text-align: center; margin-bottom: 2%;">HOLIDAY GIFTS</h1>
                <video src="{% static 'img/main/LV.mp4' %}" width="92%" autoplay muted></video>
            </center>
        </div>


        <h1 style="text-align: center; margin-top: 10%;">LATEST PRODUCTS</h1>
        <hr style="width: 92%; background-color: rgb(27, 27, 27);">
        <div id="cards">
            <div class="single_card" onclick="redirectToPage('acessories_page')">
                <img src="{% static 'img/main/acessories.jpeg' %}" alt="ACCESSORIES"
                     style="max-height: 100%; max-width: 100%;">
                <h3>ACCESSORIES</h3>
            </div>

            <div class="single_card" onclick="redirectToPage('man')">
                <img src="{% static 'img/main/wear.jpeg' %}" alt="Accessories"
                     style="max-height: 100%; max-width: 100%;">
                <h3>MEN</h3>
            </div>

            <div class="single_card" onclick="redirectToPage('woman_page')">
                <img src="{% static 'img/main/women.jpeg' %}" alt="Accessories"
                     style="max-height: 100%; max-width: 100%;">
                <h3>WOMEN</h3>
            </div>

            <div class="single_card" onclick="alert('Clicked')">
                <img src="{% static 'img/main/sneakers.webp' %}" alt="Accessories"
                     style="max-height: 100%; max-width: 100%;">
                <h3>SNEAKERS</h3>
            </div>

            <div class="single_card" onclick="redirectToPage('kids_page')">
                <img src="{% static 'img/main/kids.webp' %}" alt="Accessories"
                     style="max-height: 100%; max-width: 100%;">
                <h3>KIDS</h3>
            </div>
        </div>
        <hr style="width: 92%; background-color: rgb(27, 27, 27);">

        <div class="text-area">
            <h1 class="typing" style="text-align: center; font-family: 'Simple Brush Script', sans-serif;"
                id="typing"></h1>
        </div>

    </div>

    <script src="{% static 'script/typewriter.js' %}"></script>
    <br>
{% endblock %}