{% extends 'template.html' %}
{% load static %}

{% block title %}User Profile{% endblock title %}
{% block content %}
    <link rel="stylesheet" href="{% static 'style/user_profile.css' %}">

    <div class="container" style="margin-top: 50px">
        <div class="row">
            <div class="col-4">
                <div class="card text-white mb-3" style="max-width: 300px; height: 400px; background-color: black">
                    <div class="side__menu-header container" style="margin-top: 20px">
                        <span>My Account</span>
                        <div class="userName"><h4>{{ user.username }}</h4></div>
                    </div>
                    <br>
                    <div class="container">
                        <ul class="list-group list-group-flush">
                            <li class="list-group"><a href="user_profile"
                                                      style="text-decoration: none; color: white; height: 50px;">
                                Profile</a></li>
                            <li class="list-group"><a href="address"
                                                      style="text-decoration: none; color: white; height: 50px">Addresses</a>
                            </li>
                            <li class="list-group"><a href="orders"
                                                      style="text-decoration: none; color: white; height: 50px"><h5>
                                Orders</h5></a>
                            </li>
                            <button type="button" class="btn btn-outline-dark"
                                    style="color: white; margin-top: 40px; height: 70px; border-color: white"
                                    onclick="location.href='http://127.0.0.1:8000/logout'">LOGOUT
                            </button>
                        </ul>
                    </div>
                </div>

            </div>
            <div class="col-8">
                <div class="header-title">
                    <h1>Orders</h1>
                </div>
                {% for order in orders %}
                    <div class="input-group mb-3" style="border: 3px solid black">
                        <h5>Shipping to: {{ order.address }}, {{ order.city }}, </h5>
                        <br>
                        <h5>&nbsp;{{ order.created }}</h5>
                        <br>
                        <h5>Delivery company: {{ order.delivery }} &nbsp; &nbsp; Paid: {{ order.paid }}</h5>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>

    <style>
        .errorlist li {
            border: 1px solid red;
            color: red;
            background: rgba(255, 0, 0, 0.15);
            list-style-position: inside;
            display: block;
            font-size: 1.2em;
            margin: 0 0 3px;
            padding: 4px 5px;
            text-align: center;
            border-radius: 3px;
        }

        textarea {
            width: 100%;
            padding: 5px !important;
            border-radius: 3px;
            border-style: solid;
            border-width: 1px;
            border-color: rgb(169, 169, 169)
        }

        input {
            height: 30px;
        }

        .success {
            background-color: rgba(0, 128, 0, 0.15);
            padding: 10px;
            text-align: center;
            color: green;
            border: 1px solid green;
            border-radius: 3px;
        }
    </style>
{% endblock content %}