{% extends 'template.html' %}
{% load static %}
  
  {% block title %}Contact Us{% endblock title %}
 {% block content %}
<link rel="stylesheet" href="{% static './style/items_style.css' %}">
    <div class="container">
        <div class="row">
            <div class="col-6">
                <div class="side__menu-header container" style="margin-top: 20px">
						<h2>Building Address</h2>
                </div>
                <div class="input-group mb-3" style="margin-top: 45px">
                  <div class="input-group-prepend">
                    <h5 style="margin-right: 95px">Full Name</h5>
                  </div>
                  <input type="text" class="form-control" placeholder="" aria-label="" aria-describedby="basic-addon1">
                </div>
                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <h5 style="margin-right: 148px">City</h5>
                  </div>
                  <input type="text" class="form-control" placeholder="" aria-label="" aria-describedby="basic-addon1">
                </div>
                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <h5 style="margin-right: 135px">Email</h5>
                  </div>
                  <input type="text" class="form-control" placeholder="" aria-label="" aria-describedby="basic-addon1">
                </div>
                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <h5 style="margin-right: 110px">Address</h5>
                  </div>
                  <input type="text" class="form-control" placeholder="" aria-label="" aria-describedby="basic-addon1">
                </div>

            </div>
            <div class="col-6">
                <div class="side__menu-header container" style="margin-top: 20px">
						<h2>Payment</h2>
                </div>
                <div class="icon-container" style="margin-top: 20px">
                  <i class="fa fa-cc-visa" style="color:navy;"><img src="https://cdn-icons-png.flaticon.com/128/5968/5968299.png" alt="" style="width: 50px"></i>
                  <i class="fa fa-cc-amex" style="color:blue;"><img src="https://cdn-icons-png.flaticon.com/128/349/349228.png" alt=""style="width: 50px"></i>
                  <i class="fa fa-cc-mastercard" style="color:red;"><img src="https://cdn-icons-png.flaticon.com/128/349/349230.png" alt="" style="width: 50px"></i>
                  <i class="fa fa-cc-discover" style="color:orange;"><img src="https://cdn-icons.flaticon.com/png/128/5835/premium/5835043.png?token=exp=1652731100~hmac=a0d7a68a1aa9f3bbbcd20c781d69cdea" alt="" style="width: 58px"></i>
                </div>
                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <h5 style="margin-right: 110px">Credit card number</h5>
                  </div>
                </div>
                <input type="text" class="form-control" placeholder="" aria-label="" aria-describedby="basic-addon1">

                <div class="row" style="margin-top: 10px">
                    <div class="col-6">
                        <h5>Month/Year</h5>
                        <input type="text" class="form-control" placeholder="" aria-label="" aria-describedby="basic-addon1">
                    </div>
                    <div class="col-6">
                        <h5>CVV</h5>
                        <input type="text" class="form-control" placeholder="" aria-label="" aria-describedby="basic-addon1">
                    </div>
                </div>
            </div>
            <input type="submit" value="Sumbit" class="btn" style="background-color: black; color: white; width: 150px; height: 40px">
        </div>
    </div>
 
  {% if submitted %}
    <p class="success">
     Your message was submitted successfully. Thank you.
   </p>
 
 {% else %}
   <form action="" method="post" novalidate>
   <table>
     {{ form.as_table }}
     <tr>
       <td>&nbsp;</td>
       <td><input type="submit" value="Submit"></td>
     </tr>
   </table>
  {% csrf_token %}
   </form>
 {% endif %}

 <style>
    .errorlist li {
        border: 1px solid red;
        color: red;
        background: rgba(255, 0, 0, 0.15);
        list-style-position: inside;
        display: block;
        font-size: 1.2em;
        margin: 0 0 3px;
        padding: 4px 5px;
        text-align: center;    
        border-radius: 3px;
    }
     textarea {
        width: 100%;
        padding: 5px!important;
        border-radius: 3px;
        border-style: solid;
        border-width: 1px;
        border-color: rgb(169,169,169)
    }
    input { 
        height: 30px;
    }
    .success {
        background-color: rgba(0, 128, 0, 0.15);
        padding: 10px;
        text-align: center;
        color: green;
        border: 1px solid green;
        border-radius: 3px;
    }
 </style>
 {% endblock content %}