{% extends 'template.html' %}
{% load static %}
{% block title %}l'encore {{ request.path|slice:"1:" }}{% endblock %}
{% block content %}
    <link rel="stylesheet" href="{% static 'style/items_style.css' %}">
    <link rel="stylesheet" href="{% static 'style/product.css' %}">


    <div class="section product-detail" style="height: 800px">
        <div class="details container">
            <div class="left image-container">
                <div class="main">
                    {% with img=data.image|slice:'7:' %}
                        <img src="{% static 'img/upload/' %}{{ img }}" id="zoom" alt=""/>
                    {% endwith %}
                </div>
            </div>
            <div class="right">
                <span>{{ data.brand }}</span>
                <h1>{{ data.name }}</h1>
                <div class="price">{{ data.price }} KZT</div>
                <form>
                    <div>
                    <h4>In stock: {{ data.stock }}</h4>
                        <select id="size_selector">
                            {% if data.size.all|length == 1 %}
                                <option value="{{ data.size.all|first }}" selected disabled>
                                    {{ data.size.all|first }}
                                </option>
                            {% else %}
                                <option value="Size" selected disabled>
                                    Size
                                </option>
                                {% for size_i in data.size.all %}
                                    <option value={{ size_i.title }}>{{ size_i.title }}</option>
                                {% endfor %}
                            {% endif %}
                        </select>
                        <span><i class="bx bx-chevron-down"></i></span>
                    </div>
                </form>
                <form method="POST" class="form">
                    {% csrf_token %}
                    <button href="#" class="addCart">Add To Cart</button>
                </form>
                <h3>Product Detail</h3>
                <p>
                    {{ data.description }}
                </p>
                <p></p>
                <p></p>
            </div>
        </div>
    </div>
    {% if review %}
        <!-- Reviews -->
        <div class="col-md-6" style="float:none;margin:auto;margin-top: -50px;margin-bottom: 30px;">
            <h3 class="my-3">Reviews - {{ review.review_rating }}/5 <i class="fa fa-star text-warning"></i>
                <button data-toggle="modal" data-target="#productReview" type="button"
                        class="btn btn-warning btn-sm float-right">Add Review
                </button>
            </h3>
            <!-- Product review form -->
            <div class="modal fade" id="productReview" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Add review</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <form method="post" id="addForm" action="{% url 'save_review' data.id %}">
                                {% csrf_token %}
                                <table class="table table-unbordered">
                                    {{ form.as_table }}
                                    <tr>
                                        <td colspan="2">
                                            <button type="submit" class="btn btn-primary"
                                                    style=" margin-left: 270px; margin-right: 15px;">Submit
                                            </button>
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close
                                            </button>
                                        </td>
                                    </tr>
                                </table>
                                <p class="ajaxRes"></p>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="card-body" style="max-height: 400px; overflow: auto;">
                    <!-- Detail -->
                    <blockquote class="blockquote text-right">
                        <small>{{ review.review_text }}</small>
                        <footer class="blockquote-footer">{{ review.user.username }}
                            <cite title="Source Title">
                                <i class="fa fa-star text-warning"></i>
                                <i class="fa fa-star text-warning"></i>
                                <i class="fa fa-star text-warning"></i>
                                <i class="fa fa-star text-warning"></i>
                            </cite>
                        </footer>
                    </blockquote>
                    <hr/>
                </div>
            </div>
        </div>
    {% endif %}

    <!-- related products -->
    <h3 style="margin-left: 315px;">Related products</h3>
    <div class="kurt">
        {% for related_product in related_products %}
            <div class="tsort">
                <a href="{% url 'product' related_product.id %}">
                    <img src="{% static 'img/upload/' %}{{ related_product.image|slice:'7:' }}">
                    <h4 style="color: #330867;">{{ related_product.name }}</h4>
                </a>
                <h5 style="color: #330867;"> {{ related_product.price }} KZT</h5>
            </div>
        {% endfor %}
    </div>

    <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
    <script src="{% static 'script/zoomsl.min.js' %}"></script>
    <script src="{% static 'script/custom.js' %}"></script>
{% endblock %}