{% extends 'authorization_template.html' %}
{% load static %}

{% block content %}
    <h5>Registration</h5>

    {% for message in messages %}
        <h2 style="color: red">{{ message }}</h2>
    {% endfor %}

    <p>Creating your account</p>
    <p> It takes less than three minutes</p>
    <form class="inputs" method="POST" action="registration">
        {% csrf_token %}
        <input type="text" placeholder="Username" name="username">
        <br>
        <input type="email" placeholder="E-mail" name="email">
        <br>
        <input type="password" placeholder="Password" name="password1">
        <br>
        <input type="password" placeholder="Repeat password" name="password2">

        <br><br>

        <div class="form-check-input"
             style="width: fit-content; display: flex; flex-direction: row;">
            <input type="checkbox" name="item_check"/>
            <span>Terms</span>
        </div>

        <br>
        <input type="submit" placeholder="Register">
    </form>
{% endblock %}