{% extends 'superuser_template.html' %}
{% load static %}
{% block content %}
    <form style="margin-top: 5%; margin-left: 5%; margin-bottom: 5%">
        <p style="display: inline-block">Username: </p>
        <select>
            {% for user in users %}
                <option value="{{ user }}">{{ user }}</option>
            {% endfor %}
        </select>
        <br>
        <p style="display: inline-block">User cart:</p>
{#        {% with  as  %}#}
{#            {% if  %}#}
{#            {% endif %}#}
{#        {% endwith %}#}
    </form>
{% endblock %}