<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <link href="https://fonts.googleapis.com/css2?family=Lato:wght@100&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
    integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
  <link href="http://fonts.cdnfonts.com/css/didot" rel="stylesheet">
  <link rel="stylesheet" href="../style/tables_style.css">
  <title>l'éncore men</title>
</head>

<body>
  <div id="header_container">
    <div id="header" onmouseover="changeHeaderColor('rgb(27, 27, 27)')" onmouseout="changeHeaderColor('transparent')">
      <br>
      <div id="brand_name">
        <h2>l'éncore</h2>
        <div style="text-align: right;">
          <button class="btn btn-outline-light button_main" onclick="location.href='cart.html';">
            <i class="fas fa-shopping-basket"></i>
          </button>
          <button class="btn btn-outline-light button_main" onclick="location.href='registration.html';">
            <i class="fas fa-sign-in-alt"></i>
          </button>
          <button class="btn btn-outline-light button_main" onclick="location.href='contacts.html';">
            <i class="fas fa-info-circle"></i>
          </button>
          <button class="btn btn-outline-light button_main" onclick="location.href='tables.html';">
            <i class="fas fa-tshirt"></i>
          </button>
        </div>
      </div>

      <div id="header_buttons">
        <input type="button" value="Main" class="btn btn-outline-light button_main"
          onclick="location.href='main_page.html';">
        <input type="button" value="Men" class="btn btn-outline-light button_main" onclick="location.href='man.html';">
        <input type="button" value="Women" class="btn btn-outline-light button_main"
          onclick="location.href='woman_page.html';">
        <input type="button" value="Kids" class="btn btn-outline-light button_main"
          onclick="location.href='kids_page.html';">
        <input type="button" value="Sneakers" class="btn btn-outline-light button_main"
          onclick="location.href='sneakers_page.html';">
        <input type="button" value="Accessories" class="btn btn-outline-light button_main"
          onclick="location.href='acessories_page.html';">
      </div>
    </div>
  </div>

  <h1 style="text-align: center; margin-top: 50px;margin-bottom: 50px;">Clothing Size Tables</h1>


  <h2 style="text-align: center; margin-top: 50px;margin-bottom: 50px;">Male version</h2>
  <div class="table-responsive-sm">
    <table class="table">
      <thead>
        <tr class="table-dark">
          <th>*</th>
          <th>European size</th>
          <th>S</th>
          <th>M</th>
          <th>L</th>
          <th>XL</th>
          <th>XXL</th>
        </tr>
        <tr class="table-dark">
          <th>*</th>
          <th>Size</th>
          <th>44-46</th>
          <th>48-50</th>
          <th>52</th>
          <th>54-56</th>
          <th>58-60</th>
        </tr>
      </thead>
      <tr class="table-active">
        <th>1</th>
        <th>HEIGHT</th>
        <th>170</th>
        <th>176</th>
        <th>182</th>
        <th>188</th>
        <th>188</th>
      </tr>
      <tr class="table-active">
        <th>2</th>
        <th>CHEST CIRCUMFERENCE</th>
        <th>94</th>
        <th>100</th>
        <th>106</th>
        <th>112</th>
        <th>120</th>
      </tr>
      <tr class="table-active">
        <th>3</th>
        <th>WAIST CIRCUMFERENCE</th>
        <th>84</th>
        <th>90</th>
        <th>96</th>
        <th>102</th>
        <th>108</th>
      </tr>
      <tr class="table-active">
        <th>4</th>
        <th>HIP CIRCUMFERENCE</th>
        <th>96</th>
        <th>102</th>
        <th>108</th>
        <th>114</th>
        <th>120</th>
      </tr>
      <tr class="table-active">
        <th>5</th>
        <th>ARM LENGTH</th>
        <th>59</th>
        <th>61</th>
        <th>63</th>
        <th>65</th>
        <th>65</th>
      </tr>
      <tr class="table-active">
        <th>6</th>
        <th>LENGTH OF THE INNER SURFACE OF THE LEG</th>
        <th>79</th>
        <th>81</th>
        <th>83</th>
        <th>85</th>
        <th>85</th>
      </tr>

    </table>
  </div>

  <h2 style="text-align: center; margin-top: 50px;margin-bottom: 50px;">Female version</h2>
  <div class="table-responsive-sm">
    <table class="table">
      <thead>
        <tr class="table-dark">
          <th>*</th>
          <th>European size</th>
          <th>XS</th>
          <th>S</th>
          <th>M</th>
          <th>L</th>
          <th>XL</th>
        </tr>
        <tr class="table-dark">
          <th>*</th>
          <th>Size</th>
          <th>42</th>
          <th>44</th>
          <th>44-48</th>
          <th>50</th>
          <th>52-54</th>
        </tr>
      </thead>
      <tr class="table-active">
        <th>1</th>
        <th>HEIGHT</th>
        <th>164</th>
        <th>164</th>
        <th>170</th>
        <th>170</th>
        <th>174</th>
      </tr>
      <tr class="table-active">
        <th>2</th>
        <th>CHEST CIRCUMFERENCE</th>
        <th>84</th>
        <th>88</th>
        <th>94</th>
        <th>100</th>
        <th>108</th>
      </tr>
      <tr class="table-active">
        <th>3</th>
        <th>WAIST CIRCUMFERENCE</th>
        <th>64</th>
        <th>68</th>
        <th>74</th>
        <th>82</th>
        <th>90</th>
      </tr>
      <tr class="table-active">
        <th>4</th>
        <th>HIP CIRCUMFERENCE</th>
        <th>90</th>
        <th>96</th>
        <th>102</th>
        <th>110</th>
        <th>118</th>
      </tr>
      <tr class="table-active">
        <th>5</th>
        <th>ARM LENGTH</th>
        <th>56</th>
        <th>56</th>
        <th>58</th>
        <th>58</th>
        <th>59</th>
      </tr>
      <tr class="table-active">
        <th>6</th>
        <th>LENGTH OF THE INNER SURFACE OF THE LEG</th>
        <th>78</th>
        <th>78</th>
        <th>80</th>
        <th>80</th>
        <th>81</th>
      </tr>

    </table>
  </div>



  <div id="bottom_part">
    <div class="bottom_container">
      <ol>
        <p>Contacts:</p>
        <li>+7(708)909-90-17</li>
        <li>+7(708)909-90-17</li>
        <li>+7(708)909-90-17</li>
      </ol>
    </div>

    <div class="bottom_container">
      <ul>
        <p>Adress:</p>
        <li>
          Al-Farabi str., 91 build., 3 floor.
        </li>
        <li>
          Kabanbay batyr str., 150 build., 2 floor.
        </li>
      </ul>
    </div>

    <div class="bottom_container">
      <i>Instagram: </i>
      <p>@instagram</p>
      <i>E-mail:</i>
      <p>mail@gmail.com</p>
    </div>

    <div class="bottom_container">
      <p>News letter: </p>
      <div style="display: flex;">
        <input type="text" name="subscribe" id="sub" style="margin-right: 5%;">
        <button class="btn btn-outline-light">Subscribe</button>
      </div>
    </div>
  </div>
  <script type="text/javascript" src="../script/tables_script.js"></script>
</body>

</html>