{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@100&display=swap" rel="stylesheet">
    <link href="http://fonts.cdnfonts.com/css/didot" rel="stylesheet">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
          integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
    <script src="{% static 'script/vue.js' %}"></script>
    <title>{% block  title %}Default value{% endblock %}</title>
</head>

<body>
<div id="header_container">
    <div id="header" onmouseover="changeHeaderColor('rgb(27, 27, 27)')" onmouseout="changeHeaderColor('transparent')">
        <br>
        <div id="brand_name">
            <h2>l'éncore</h2>
            <div style="text-align: right; margin-right: 7%" id="user_buttons">
                {% if user.is_authenticated %}
                    <style>
                        #user_buttons {
                            text-align: center;
                            width: fit-content;
                            margin-left: auto;
                            margin-right: 7%;
                        }
                    </style>
                    <h6 style="font-family: Futura, 'Trebuchet MS', Arial, sans-serif;">
                        Welcome, {{ user.username }}!</h6>

                    <button class="btn btn-outline-light button_main" title="Log out"
                            onclick="location.href='http://127.0.0.1:8000/logout';">
                        <i class="fas fa-sign-out-alt" title="Log out"></i>
                    </button>

                {% else %}

                    <button class="btn btn-outline-light button_main" title="Log in"
                            onclick="location.href='http://127.0.0.1:8000/login';">
                        <i class="fas fa-sign-in-alt" title="Log in"></i>
                    </button>

                {% endif %}

                <button class="btn btn-outline-light button_main" title="Cart" onclick="location.href='http://127.0.0.1:8000/cart';">
                    <i class="fas fa-shopping-basket" title="Cart"></i>
                </button>
            </div>
        </div>

        <div id="header_buttons">
            <input type="button" value="Main" class="btn btn-outline-light button_main"
                   onclick="location.href='http://127.0.0.1:8000';">
            <input type="button" value="Men" class="btn btn-outline-light button_main"
                   onclick="location.href='http://127.0.0.1:8000/men';">
            <input type="button" value="Women" class="btn btn-outline-light button_main"
                   onclick="location.href='http://127.0.0.1:8000/women';">
            <input type="button" value="Kids" class="btn btn-outline-light button_main"
                   onclick="location.href='http://127.0.0.1:8000/kids';">
            <input type="button" value="Sneakers" class="btn btn-outline-light button_main"
                   onclick="location.href='http://127.0.0.1:8000/sneakers';">
            <input type="button" value="Accessories" class="btn btn-outline-light button_main"
                   onclick="location.href='http://127.0.0.1:8000/accessories';">
        </div>
    </div>
</div>

{% block content %}
    <p>Default value</p>
{% endblock %}

<div id="bottom_part">
    <vue-footer-contacts></vue-footer-contacts>
    <vue-footer-adress></vue-footer-adress>
    <vue-footer-social></vue-footer-social>
    <vue-footer-news></vue-footer-news>
</div>
<script src="{% static 'script/Footer.js' %}"></script>
<script type="text/javascript" src="{% static 'script/items_script.js' %}"></script>
</body>
</html>