body {
  font-family: 'Lato', sans-serif;
  height: fit-content;
  font-weight: 100;
  font-size: 1.8vw;
}

#header_container {
  font-family: Futura, "Trebuchet MS", Arial, sans-serif;
  height: 663px;
  background-image: url('../img/main/gucci.jpeg');
  background-size: 100%;
  background-repeat: no-repeat;
  object-fit: cover;
}

#header {
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.692), transparent 50%);
  height: fit-content;
  text-align: center; 
  padding-bottom: 1%;  
  position: fixed;
  z-index: 9;
  width: 100%;
  top: 0;
}

#brand_name {
  color: white;
  font-family: 'Didot', sans-serif;
}

#header_buttons {
  justify-content: center;
  margin: auto;
}

.button_main {
  height: fit-content;
  color: rgb(229,223,218);
  border: 0px ;
  margin-inline: 1%;
  font-size: large;
  font-weight: 500;
}

#bottom_part {
  background-color: rgb(27, 27, 27);
  height: fit-content;
  color: rgb(229,223,218);
  font-family: 'Lato', sans-serif;
  display: flex;
  flex-wrap: wrap;
}

.bottom_container {
  margin-top: 3%; 
  margin-bottom: 3%; 
  margin-inline: 5%; 
  justify-content: left; 
  text-align: left;
}

#center_part {
  width: 98%;
  height: fit-content;
  background-color: rgb(229,223,218);
  display: flex;
  flex-direction: column;
  margin-top: 1%;
  margin-bottom: 1%;
  margin-left: 1%;
  margin-right: 1%;
}

.basket_element {
  width: 70%;
  height: 80px;
  display: flex;
  flex-direction: row;
  border: 1px solid #1b1b1b;
  border-radius: 5px;
  margin-bottom: 1%;
  margin-top: 1%;
  margin-left: auto;
  margin-right: auto;
}

.basket_img {
  height: 90%;
  width: auto;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 1%;
  margin-right: 4%;
}

.basket_img img{
  max-height: 100%;
  max-width: fit-content;
  object-fit: cover;
  border-radius: 10px;
}
.basket_img img:hover {
  transform: scale(4);
}

.basket_text {
  margin-top: auto;
  margin-bottom: auto;
  display: flex;
  flex-direction: row;
}
.basket_price {
  margin-left: 3%;
  margin-top: auto;
  margin-bottom: auto;
  display: flex;
  flex-direction: row;
}

.counter {
  margin-left: 3%;
  margin-top: auto;
  margin-bottom: auto;
  width: 5%;
}

.counter input {
  width: 100%;
}

.total_item {
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 3%;
  display: flex;
  flex-direction: row;
}
.cross {
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 3%;
}
#total_overall {
  display: flex;
  flex-direction: row;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 3%;
}
.payment {
  text-align: center;
  justify-content: center;
  margin-bottom: 3%;
}