body {
    font-family: 'Lato', sans-serif;
    height: fit-content;
    font-weight: 100;
}

#header_container {
    font-family: Futura, "Trebuchet MS", Arial, sans-serif;
    height: 663px;
    background-image: url('../img/main/gucci.jpeg');
    background-size: 100%;
    background-repeat: no-repeat;
    object-fit: cover;
}

#header {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.692), transparent 50%);
    height: fit-content;
    text-align: center; 
    padding-bottom: 1%;  
    position: fixed;
    z-index: 9;
    width: 100%;
    top: 0;
}

#brand_name {
    color: white;
    font-family: 'Didot', sans-serif;
}

#header_buttons {
    justify-content: center;
    margin: auto;
}

.button_main {
    height: fit-content;
    color: rgb(229,223,218);
    border: 0px ;
    margin-inline: 1%;
    font-size: large;
    font-weight: 500;
}

#main_part {
    background-color: rgb(229,223,218);
    width: 96%;
    margin-top: 2%;
    padding-block: 3%;
    margin-left: auto;
    margin-right: auto;
    height: fit-content;
}

#carouselExampleControls {
    margin-top: 7%;
    height: 12%;
    width: 100%;
    margin-bottom: 5%;
}

#cards {
    width: 92%; 
    margin-left: auto;
    margin-right: auto;
    height: 35%;
    display: flex;
    flex-wrap: wrap;
}

.single_card {
    height: 25%; 
    width: 40%; 
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2%;
}

#bottom_part {
    background-color: rgb(27, 27, 27);
    height: fit-content;
    color: rgb(229,223,218);
    font-family: 'Lato', sans-serif;
    display: flex;
    flex-wrap: wrap;
}

.bottom_container {
    margin-top: 3%; 
    margin-bottom: 3%; 
    margin-inline: 5%; 
    justify-content: left; 
    text-align: left;
}