body {
    font-family: 'Lato', sans-serif;
    height: fit-content;
    font-weight: 100;
}

#header_container {
    font-family: Futura, "Trebuchet MS", Arial, sans-serif;
    height: 663px;
    background-image: url('../img/main/gucci.jpeg');
    background-size: 100%;
    background-repeat: no-repeat;
    object-fit: cover;
}

#header {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.692), transparent 50%);
    height: fit-content;
    text-align: center;
    padding-bottom: 1%;
    position: fixed;
    z-index: 9;
    width: 100%;
    top: 0;
}

#brand_name {
    color: white;
    font-family: 'Didot', sans-serif;
}

#header_buttons {
    justify-content: center;
    margin: auto;
}

.button_main {
    height: fit-content;
    color: hsla(27, 17.5%, 87.6%, 1);
    border: 0px;
    margin-inline: 1%;
    font-size: large;
    font-weight: 500;
}

#bottom_part {
    background-color: hsl(0, 0%, 10.6%);
    height: fit-content;
    color: rgb(229, 223, 218);
    font-family: 'Lato', sans-serif;
    display: flex;
    flex-wrap: wrap;
}

.bottom_container {
    margin-top: 3%;
    margin-bottom: 3%;
    margin-inline: 5%;
    justify-content: left;
    text-align: left;
}

.row img {
    width: 80%;
    height: auto;
}

.row {
    padding-bottom: 5%;
}

.row p {
    margin-top: 15%;
    text-align: end;
}

.circular_image {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    overflow: hidden;
    background-color: blue;
    display: inline-block;
    vertical-align: middle;
}

.circular_image img {
    width: 100%;
}


